header {
    position:fixed;

    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    box-sizing: border-box;
    width:$scaleableWidth;
    padding:3vw 0;


    z-index:10;
    a {
        display:flex;
        .logo-type {
            width:50px;
            pointer-events: none;
            transition:filter 0.5s $easing;
            @if lightness($background) < 50 {
                filter: brightness(10);
            } @else {
                filter: brightness(1);
            }
            &.white {
                filter: brightness(10);
            }
            &.inverted {
                filter: brightness(10);
            }
        }
    }
    .menu {
        display:flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: stretch;
        width:30px;
        height:30px;
        transition:opacity 0.3s;
        .line {
            display:block;
            width:100%;
            height:2px;
            background:$foreground;
            transition:transform  0.5s $easing, background  0.5s $easing;
        }
        &.open {
            .line {
                background:white;
            }
            .line.top {
                transform:rotate(45deg) translate(7px, 7px);
            }
            .line.bottom {
                transform:rotate(-45deg) translate(7px, -7px);
            }
            .line.middle {
                transform:scaleX(0);
            }
        }
        &.inverted {
            .line {
                background:$background;
            }
        }
        &:hover {
            cursor:pointer;
            opacity:0.6;
        }
        // @media screen and (min-width:$medium) {
        //     display:none;
        // }
    }

}

.nav {
    position:fixed;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    margin:0;
    top:0;
    left:0px;
    width:100%;
    height:calc(100% + 2rem);
    padding-top:calc(5vw + 60px);
    // background:$foreground;
    background:linear-gradient(45deg, $hlshiftEnd, $hlshiftStart);
    opacity:0;

    font-size:1.2em;
    line-height:1.5em;
    font-weight:700;
    letter-spacing:1px;

    z-index:-1;
    pointer-events: none;
    transition:opacity 0.5s $easing;

    ul {
        display:flex;
        flex-direction: column;
        align-items: flex-start;
        list-style: none;
        padding:0;
        width:$scaleableWidth;
        @media screen and (min-width:$medium) {
            align-items: flex-end;
        }
        & > a, & > div {
            transform: translateY(1rem);
            opacity:0;
            transition:opacity 0.5s $easing, transform 0.5s $easing, color 0.3s;
            &.enabled {
                opacity:1;
                transform:none;
            }
        }
        & > a {
            margin-bottom:0.25em;
        }
    }

    &.open {
        opacity:1;
        pointer-events: all;
    }
}
