<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <title>{{currentSite.name}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
    <meta name="referrer" content="origin-when-cross-origin" />
    {# <link href="https://fonts.googleapis.com/css?family=Oswald:500|Roboto" rel="stylesheet"> #}
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:900|Roboto:400" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link href="/css/app.css" rel="stylesheet" >

</head>
<body>


    {% block content %}
    {% endblock %}

    {% include "components/footer" with {} %}

</body>
</html>
