{% block content %}

<!--googleoff: index-->
<header class="dummy">
    <div class="content">
        <a href="/" class="outer-link">Case Studies</a>
        <a href="/" class="outer-link">Logos</a>
        <a href="/" class="outer-link">Services</a>
        <a href="/" class="logo outer-link"><img src="/images/branding/logo-stack-bolts.png" class="logo-stack"></a>
        <a href="/" class="outer-link">Art</a>
        <a href="/" class="outer-link">About</a>
        <a href="/" class="outer-link">Radio</a>
        <a href="/" class="outer-link">Contact</a>
    </div>
</header>
<!--googleon: index-->

<header class="live">
    <div class="content">
        <a href="/case-studies" class="outer-link">Case Studies</a>
        <a href="/logos" class="outer-link">Logos</a>
        <a href="/services" class="outer-link">Services</a>
        <a href="/" class="logo outer-link"><img src="/images/branding/logo-stack-bolts.png" class="logo-stack"></a>
        <a href="//shop.radsmth.com" class="outer-link" target="_new">Art</a>
        <a href="/about" class="outer-link">About</a>
        <a href="//open.spotify.com/user/brettmcm/playlist/7sZH6HGY8iKbR6NZwCvxUR?si=B9b_vWlvStuE_jQO6TzJIw" class="outer-link" target="_new">Radio</a>
        <a href="mailto:brett@radsmth.com?subject=Let's make rad shit!" class="outer-link" target="_new">Contact</a>
        <div class="menu inverted">
            <div class="line top"></div>
            <div class="line middle"></div>
            <div class="line bottom"></div>
        </div>
        <div class="nav">
            <ul>
                <a href="/case-studies" class=" invert naked"><li>Case Studies</li></a>
                <a href="/logos" class=" invert naked"><li>Logos</li></a>
                <a href="/services" class=" invert naked"><li>Services</li></a>
                <a href="//shop.radsmth.com/" class=" invert naked" target="_new"><li>Art</li></a>
                <a href="/about" class=" invert naked"><li>About</li></a>
                <div class="break xsmall light invert naked"></div>
                <a href="//open.spotify.com/user/brettmcm/playlist/7sZH6HGY8iKbR6NZwCvxUR?si=B9b_vWlvStuE_jQO6TzJIw" class=" invert naked" target="_new"><li>Radio</li></a>
                <a href="mailto:brett@radsmth.com?subject=Let's make rad shit!" class=" invert naked" target="_new"><li>Contact</li></a>
            </ul>
        </div>
    </div>
</header>



{% endblock %}
