{% do view.registerCssFile("/css/components/proposal-overrides.css") %}

{% block blockContent %}

<section class="body text-block">

    <div class="leader">
        <h3 class="display">Agree</h3>
    </div>
    <div class="agree">
        <label class="container">I, {{client.primaryContactName}}, agree to the terms stated above for the <b>{{entry.title}}</b> project
            <input type="checkbox">
            <span class="checkmark"></span>
        </label>
        <div class="submit">
            <a href="/case-studies" class="button primary">Agree & Submit</a>
        </div>
    </div>

</section>
{% endblock %}